/* root variables */
:root {
  --main-background: #f5f4f0;
  --dark-blue-theme: #2a2d53;
  --main-text: #555555;
  --white: #ffffff;

  --container-width: 500px;
  --container-aspect-ratio: 604 / 574;
}

/* body */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1rem 0 2rem 0;
  gap: 0;
}

/* logo */
.logo {
  position: relative;
  width: 80px;
}

.logo img {
  width: 100%;
  height: auto;
}

/* containers */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 37.75rem;
  gap: 0.5rem;
  margin-top: 0;
  padding-top: 0;
}

/* menu page */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  width: 37.75rem;
  height: 100vh;
  gap: 0.75rem;
  margin-top: 3rem;
  padding: 0;
}

.menu-header {
  width: 20rem;
  aspect-ratio: 517 / 68;
  background-image: url('../pic-a-booth/menupage/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 1rem auto;
}

/* button styling */
.button-container {
  margin-top: 0;
}

button {
  color: var(--main-text);
  font-family: Castoro, serif;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: var(--white);
  border: 1px solid #1e1e1e;
  border-radius: 0.5rem;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

#select-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.56rem;
  width: 10rem;
  height: 3rem;
  padding: 0.5rem 1rem;
}

#menu-camera-button,
#menu-upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.56rem;
  width: 20rem;
  height: 5rem;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 768px) {
  #select-button {
    width: 8rem;
    height: 3.2rem;
    font-size: 1.2rem;
    padding: 0.4rem 0.5rem;
    gap: 0.4rem;
  }

  button {
    font-size: 1.5rem;
  }
}
